/* Fonts */
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  /* Color Codes */
  --cream: #FCFCEF;
  --blue: #6298DC;
  --dark-blue: #1E2D6F;
  --light-blue: #B4D5F3;
  --priority-none: #4D85FF;
  --priority-red: #FF5555;
  --priority-yellow: #FFE866;
  --priority-green: #6CFF4E;
}  

/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--cream);
}

/* REMOVE */
header,
aside,
main,
#projects-container div {
  outline: 1px solid red;
}

#content {
  display: grid;
  grid-template-rows: 8vh 92vh;
  grid-template-columns: 1fr 3fr 1fr;
}

#header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: var(--dark-blue);
  color: var(--cream);
  text-align: center;
  height: 8vh;
  line-height: 8vh;
}

#header h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.body-header {
  margin-top: 18px;
  font-size: 1.2rem;
}

#left-sidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: var(--light-blue);
  text-align: center;
}

#add-project-btn {
  background-color: var(--blue);
  width: 150px;
  height: 30px;
  border-radius: 18px;
}

#add-project-btn:hover,
#add-project-btn:focus,
#add-project-btn:active {
  background-color: var(--light-blue);
}

.project {
  text-align: start;
  margin: 20px auto;
  width: 260px;
  height: 150px;
}

.project button {
  float: right;
}

.project-title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-area {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#right-sidebar {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background-color: var(--light-blue);
  text-align: center;
}